main #inContent .answer-head {
    width: 100%;
    border: solid 2px #111;
    font-size: 18px;
    margin-bottom: 10px;
}

main #inContent .answer-head h3{
    border-bottom: solid #111 2px;
    height: 48px;
    line-height: 50px;
    padding-left: 37px;
    margin: 0;
}

main #inContent .answer-head .result-message p.small{
    font-size: 16px;
}

main #inContent .answer-head .result-message p.large{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}


#inContent .answer-layout .answer {
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
}

.answer-line {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#inContent .answer-item .answer{
    font-weight: normal;
    font-size: 13px;
}
#inContent .answer-layout .answer-result{
    margin:0;
    padding: 0;
    text-align: center;
    width: 9%;
    position: relative;
    border: solid 1px #111;
    border-left: none;
}


.answer-check {
    position: relative;
}
.answer-check .small-circle-sentence{
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin-left: 30px;
    margin-top: -25px;
}
.answer-check .small-batsu-sentence{
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin-left: 30px;
    margin-top: -35px;
}

.answer-check .small-batsu{
    font-size: 50px;
    margin: 0;
    position: absolute;
    color:  rgb(100,100,255);
    top: -30px;
    left: 50%;
}

.answer-check .small-circle{
    font-size: 30px;
    margin: 0;
    position: absolute;
    font-weight: 900;
    color: red;
    top: -10px;
    left: 50%;
}
.answer-check .answer-border{
    border-bottom:solid 1px #111;
    position: absolute;
    top: -5px;
    width: 90%;
}
#inContent .answer-layout .answer-result .circle{
    margin: auto;
    margin-top: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:solid 5px rgb(244, 11, 11);
}



.square {
    width:60px;
    height:60px;
    background:rgb(100,100,255);
}
.square.cross {
    width:15px;
}
.cross::before {
    content:"";	
    display:block;
    width:100%;
    height:100%;
    /*90度回転。回転の基準点はデフォルトで中心なので指定しない*/
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    background:rgb(100,100,255);
}
#inContent .answer-layout .answer-result .square.cross.batsu{
    margin:auto;
    margin-top: 30px;
    -moz-transform:rotate(45deg);	/*45度回転。*/
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.ok-ng{
    margin-top: 10px;
    font-size: 17px;
    font-weight:bold;
    text-align: center;
    width: 100%;
}
.answer-check{
    position: relative;
}

#inContent .answer-layout .answer-sentence{
    width: 91%;
}

#inContent .answer-layout .answer-sentence h3{
    width: 90%;
    border-bottom: solid #111 2px;
}

#inContent .answer-item {
    margin-bottom: 30px;
}

#send-answer{
    font-size:18px;
    background: #26c7d3;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color:#FFF;
    border-bottom: solid 3px #5e7fca;
    height: 60px;
    width: 300px;
}
#send-answer:hover{
    box-shadow: 0 0 5px 2px rgba(11, 148, 240, 0.815);
}
