main #inContent .answer-head {
    border: solid 1px #C0C0C0;
    margin-bottom: 10px;
    display: flex;
}

main #inContent .answer-head .result-pass-fail{
    width: 30%;
    background-color: #0066FF;
    color: #FFF;
    font-weight: 700;
    line-height: 0px;
}
.result-pass-fail .pass-fail-title{
    text-align:left;
    font-size: 30px;
    padding-left: 20px;
}
.result-pass-fail .pass-fail{
    text-align:right;
    font-size: 60px;
    padding-right: 20px;
    margin-bottom: 0;
}
main #inContent .answer-head .result-message{
    width: 70%;
    text-align:left;
    font-weight: 900;
    padding-left: 20px;
}

main #inContent .answer-head .result-message p.small{
    font-size: 20px;
    line-height: 5px;
}

main #inContent .answer-head .result-message p.large{
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 15px;
}
main #inContent .answer1-item {
    margin-bottom: 30px;
}

main #inContent .answer1-item .question{
    display: flex;
    border:solid 1px #C0C0C0;
    min-height: 60px;
    margin-bottom: 10px;
}

main #inContent .answer1-item .question-number{
    display: flex;
    background-color: #0066FF;
    color: #FFF;
    width: 10%;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}


main #inContent .answer1-item .question-sentence{
    display: flex;
    width: 90%;
    text-align:left;
    padding-left: 20px;
    align-items: center;
}

main #inContent .answer1-item .choices{
    display: flex;
}

main #inContent .answer1-item .users-answer ,
main #inContent .answer1-item .pass-answer{
    width: 50%;
    text-align: left;
}

main #inContent .answer1-item .pass-answer{
    padding-left: 10px;
}

main #inContent .answer1-item .users-answer p,
main #inContent .answer1-item .pass-answer p{
    background-color: #0066FF;
    color: #FFF;
    border:1px solid #C0C0C0;
    margin:-1px;
    font-weight: bold;
    padding: 10px;
}
main #inContent .answer1-item .users-answer li,
main #inContent .answer1-item .pass-answer li{
    border:1px solid #C0C0C0;
    margin:-1px;
    padding:5px;
}

main #inContent .answer1-item .question-explanation{
    text-align:left;
    border:solid 1px #C0C0C0;
    margin:-1px;
}

main #inContent .answer1-item .question-explanation .explanation-title{
    padding-left: 20px;
    background-color: #0066FF;
    color: #FFF;
    border:solid 1px #C0C0C0;
    font-weight: bold;
    padding: 10px;
    margin:-1px;
}
main #inContent .answer1-item .question-explanation .explanation{
    margin: 0;
    padding: 15px;
}
.no-check{
    padding-left: 27px;
}

.pass-check{
    background-color:#CCFFFF;
    color: #0066FF;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.small-circle{
    font-size: 20px;
    font-weight: 800;
    background-color:#CCFFFF;
    color: #0066FF;
    display: inline-block;
    width: 15px;
    height: 15px;
    border:solid 2px #0066FF;
    margin: -2px;
    border-radius: 50%; 
}
.user-check{
    padding-left: 2px;
}
.user-check span::before {
    width: 6px;
    height: 12px;
    border-right: 3px solid rgb(51,102,204);
    border-bottom: 3px solid rgb(51,102,204);
    transform: rotate(45deg);
}

.user-check span::after {
    width: 10px;
    height: 10px;
}
.user-check span::before,.user-check span::after {
    content: "";
    display: inline-block;
    color: rgb(51,102,204);
}

#retest{
    font-size: 16px;
    width: 180px;
    height: 40px;
    border:1px solid rgb(13, 157, 13);
    border-radius: 5px;
    background-color: #fff;
    color: rgb(13, 157, 13);
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
}
#retest:hover{
    background: rgb(217, 240, 217);
}
