#inContent .box .question1-item{
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
    margin-bottom: 38px;
    padding-bottom: 1em;
    border:solid 1px #111;
}

#inContent .box .question1-item .question-title{
    margin: 10px 0;
    text-align: left;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}
#inContent .box .question1-item .question-title li{
    float:left;
    padding-bottom : 4000px;
    margin-bottom : -4000px;
    
}
.question-cnt{
    width: 50px;
}

#inContent .box .question1-item .question-title .question{
    max-width: 1000px;
}
.checkbox {
    text-align: left;
    margin:	0 0 10px 20px;
}
/* ラベルのスタイル　*/
.checkbox label {
	padding-left: 38px;			/* ラベルの位置 */
    margin-bottom: 10px;
	line-height: 22px;
    display: inline-block;
	cursor:	pointer;
    position: relative;
    width: 90%;
}

/* ボックスのスタイル */
.checkbox label:before {
	content: '';
	width: 22px;			/* ボックスの横幅 */
	height:	22px;			/* ボックスの縦幅 */
	display: inline-block;
	position: absolute;
	left: 0;
	background-color: #fff;
	box-shadow:	 inset 1px 2px 2px 0px #000;
	border-radius: 6px 6px 6px 6px;
}
/* 元のチェックボックスを表示しない */
.checkbox input[type=checkbox] {
	display: none;
}
/* チェックした時のスタイル */
.checkbox input[type=checkbox]:checked + label:before {
    content: '\2713';		/* チェックの文字 */ 
    font-size: 16px;			/* チェックのサイズ */
	color: #fff;			/* チェックの色 */
	background-color: #06f;			/* チェックした時の色 */
}
#send-answer{
    font-size:18px;
    background: #26c7d3;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color:#FFF;
    border-bottom: solid 3px #5e7fca;
    height: 60px;
    width: 300px;
}
#send-answer:hover{
    box-shadow: 0 0 5px 2px rgba(11, 148, 240, 0.815);
}
.prev-next-buttons .prev-next-button{
    font-size:20px;
    font-weight: bold;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color:#111;
    width: 15%;
    border-bottom: solid 3px #5e7fca;
    height: 50px;
    padding-top: 5px;
}

#prev-button{
    float: left;
    background: #74eb98;/*ボタン色*/
    border:1px solid #09a1cf;
}
#prev-button :hover{
    background: #06e047;/*ボタン色*/
}

#next-button{
    float:right;
    background: #e7b76e;/*ボタン色*/
    border:1px solid #09a1cf;
}
#next-button :hover{
    background: #f19202;/*ボタン色*/
}
#alert-msg{
    height: 50px;
}
