#inContent .box .question1-item{
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
    margin-bottom: 38px;
    padding-bottom: 1em;
    border:solid 1px #C0C0C0;
}

#inContent .box .question1-item .question-title{
    margin: 10px 0;
    text-align: left;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}
#inContent .box .question1-item .question-title li{
    float:left;
    padding-bottom : 4000px;
    margin-bottom : -4000px;
    
}
.question-cnt{
    width: 50px;
}

#inContent .box .question1-item .question-title .question{
    max-width: 1000px;
}
.checkbox {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 28px;
    text-align: left;
    margin-left: 30px;
}
/* ラベルのスタイル　*/
.checkbox label {
    font-size: 16px;
    bottom: 0;
    margin-left: 36px;
    cursor: pointer;
}

.checkbox label::before {
    left: 10px;
    margin-top: -18px;
    width: 9px;
    height: 24px;
    border-right: 3px solid rgb(51,102,204);
    border-bottom: 3px solid rgb(51,102,204);
    transform: rotate(45deg);
    opacity: 0;
}
.checkbox label::after {
    left: 0;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid rgb(160,160,160);
}
.checkbox label::before,.checkbox label::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
}
/* 元のチェックボックスを表示しない */
.checkbox input[type=checkbox] {
	display: none;
}
/* チェックした時のスタイル */
.checkbox input[type=checkbox]:checked + label,
.checkbox input[type=checkbox]:checked + label::before,
.checkbox input[type=checkbox]:checked + label::after{
    opacity: 1;
    color: rgb(51,102,204);
    border-color: rgb(51,102,204);
}

.under-buttons .under-button{
    font-size: 16px;
    width: 180px;
    height: 40px;
    border:1px solid rgb(13, 157, 13);
    border-radius: 5px;
    background-color: #fff;
    color: rgb(13, 157, 13);
    cursor: pointer;
}

#prev-button{
    float: left;
}
#prev-button:hover,#next-button:hover,#send-answer:hover{
    background: rgb(217, 240, 217);
}

#next-button,#send-answer{
    float: right;
}

#alert-msg{
    height: 50px;
}
